h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
h4 {
  font-weight: 700;

}
p {
  color: #455269;
  font-size: 16px;
}
.small_p {
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}
.deep_blue {
  color: #0b1b41;
}
/* heder */
/* menu */
.img_header {
  width: 190px;
  line-height: 80px;
}
.img_header img {
  width: 100%;
}
#menu a .hamburger_menu {
  line-height: 80px;
  font-size: 30px;
  color: #005EFF;
  display: inline-block;
}
#menu ul {
  font-size: 18px;
  line-height: 80px;
}
#menu ul a {
  color: #031C4E;
}
#btn_signup {
  padding: 6px 12px;
  border: 1px solid #569FFD;
  border-radius: 4px;
  color: #2285FD;
  cursor: pointer;
}

/* jumbotron */
.header_jumbotron {
  background-image: url('../img/jumbotron.svg');
  background-size: cover;
  padding: 60px 0;
}
.header_jumbotron img {
  width: 100%;
}
.header_jumbotron h1 {
  color: white;
}
.header_jumbotron p {
  color: #BBCDFF;
}
.signup_box {
  width: 100%;
  padding: 50px 15px;
  border-radius: 3px;
  background-color: white;
}
.signup_box h2 {
  margin: 0;
  font-size: 20px;
}
.signup_box h2:last-of-type {
  color: #006AFF;
  margin-top: 10px;
}
 input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin: 5px 0;
  display: block;
}
.btn_full_row {
  width: 100%;
  padding: 6px 0;
  border-radius: 4px;
  margin: 5px 0;
  color: white;
  background-color: #2285FD;
  cursor: pointer;
  display: block;
}
#btn_google {
  color: #626262;
  background-color: white;
  border: 1px solid lightgray;

}
#btn_google i {
  padding: 5px 5px;
  float: left;
}
.signup_box span {
  font-size: 12px;
}
.signup_box span a {
  text-decoration: underline;
}

/* main */
/* brand logo */
#brand_logo {
  padding: 60px 0;
  background-color: #F3F5F9;
}
#brand_logo .wrapper {
  padding: 15px;
}
.container_img {
  width: 100%;
}
.container_img img {
  width: 100%;
  height: 200px;
}
#brand_logo h4 {
  font-weight: 700;
  color: #7F89A2;
}

/* how work */
#how_work {
  padding: 60px 0;
}
#timeline {
  border-left: 1px solid #455269;
  margin-bottom: 25px;
}
#timeline li {
  color: #455269;
  padding: 10px 10px;
}







/* media qwery */

/* very small devices */
@media screen and (max-width: 768px) {

  h4 {
    font-size: 14px;
  }

  .img_header img {
    width: 100%;
  }

  .container_img img {
    height: 100px;
  }
}

/* small devices */
@media screen and (min-width: 769px) {
   h4 {
    font-size: 18px;
  }
  .container_img img {
    height: 100px;
  }
}

/* large devices */
@media screen and (min-width: 993px) {

}

/* extra large devices */
@media screen and (min-width: 1200px) {
  /* header */
  .img_header {
    width: 100%;
  }
  .img_header img {
    width: 200px;
  }

  /* jumbotron */
  h1 {
    font-size: 55px;
  }
  .signup_box h2  {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
}
